<ion-header>

  <ion-navbar color="restaurant-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="restaurants attractions common-bg">
  <div class="card round" margin-bottom *ngFor="let restaurant of restaurants" (click)="verRestaurante(restaurant)">
    <div class="card-header" [ngStyle]="{'background-image': 'url(' + restaurant.photo + ')'}"></div>
    <div class="padding-xs">
      <h5>{{ restaurant.name }}</h5>
      <div class="rating">
        <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(restaurant.rating)"></ion-icon>
        <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - restaurant.rating)" style="margin-left: -1%;"></ion-icon>
        <span ion-text color="gray" >{{ restaurant.user_ratings_total }} reviews</span>
      </div>
      <span ion-text color="gray">Recommended for:</span>
      <div>
        <!-- <div class="pull-left">
          <span ion-text color="restaurant-color">{{ restaurant.scores[0].name }},</span>
          <span ion-text color="restaurant-color">{{ restaurant.scores[1].name }}</span>
        </div> -->
        <div class="pull-right">
          <span *ngIf="restaurant.distancia > 0">{{ restaurant.distancia }} km</span>
          <span *ngIf="restaurant.distancia <= 0 && restaurant.latitude">Você esta próximo</span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ion-content>
