<ion-content padding-bottom class="home common-bg">

  <div class="header rlt">
    <div class="align-bottom" padding>
      <div class="pull-left">
        <h1 ion-text color="white">
          {{welcomeText.toUpperCase()}}
        </h1>
        <span ion-text color="light">
          Recomendações para
          <strong [innerHtml]="diaSemana"></strong>
        </span>
      </div>
      <div class="pull-right">
        <h1>
          <ion-icon name="md-{{clima}}" color="light"></ion-icon>
          <span class="temperatura" color="light" *ngIf="temperatura">
            {{temperatura}}
            <sup>o</sup>C
          </span>
        </h1>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--list of categories-->
  <div class="block"   *ngFor="let cat of categories">
    <div class="block-title" padding-left padding-right>
      <div class="pull-left">
        <ion-icon *ngFor="let icon of cat.icons" name="{{icon}}" color="primary"></ion-icon>
        <span ion-text color="primary">{{cat.name}}</span>
      </div>
      <div class="pull-right">
        <span ion-text color="primary" (click)="cat.handleAll(cat.data)">ver mais &gt;</span>
      </div>
    </div>
    <div class="items" padding-left padding-bottom>
      <div class="card round primary-bg" color="primary" *ngFor="let iten of cat.data | slice:0:5;" (click)="open(iten)">
        <div class="card-header"  [ngStyle]="{'background-image': 'url(' + iten.photo + ')'}"></div>
        <div class="padding-xs" color="primary">
          <h5>{{ iten.name }}</h5>
          <div class="rating">
            <!-- <ion-icon name="md-star" color="light" *ngFor="let star of range(iten.rating)"></ion-icon> -->
            <!-- <ion-icon name="md-star-outline" color="light" *ngFor="let star of range(5 - iten.rating)"></ion-icon> -->
          </div>
          <!-- <span ion-text color="gray">Recommended for:</span> -->
          <div>
            <!-- <div class="pull-left">
                  <span ion-text color="restaurant-color">{{ iten.scores[0].name }},</span>
                  <span ion-text color="restaurant-color">{{ iten.scores[1].name }}</span>
                </div> -->
            <div class="pull-right">
              <span *ngIf="iten.distancia > 0">{{ iten.distancia }} km</span>
              <span *ngIf="iten.distancia <= 0 && iten.latitude">Você esta próximo</span>
              <span *ngIf="!iten.latitude">
                <br>
              </span>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--float search bar-->
  <!-- <div class="float-search" padding>
    <ion-input class="card round" placeholder="O que você procura?"></ion-input>
    <button ion-button color="white" item-left>
      <ion-icon name="md-search" color="primary"></ion-icon>
    </button>
    <button ion-button color="white" class="btn-buscar">
      Buscar
    </button>
  </div> -->

</ion-content>