<!doctype html>
      <html >
        [#header#]
        <body>
          [#topo#]
          <div class="container-fluid">
            <div class="row">
              [#sidemenu#]

              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="row">
                  <div class="col-md-11"><h1 class="page-header">Usuario</h1></div>
                  <div class="col-md-1"><a href="/usuario/inserir"><button type="button" data-tip="Cadastrar" class="btn btn-success tool btn-lg btn-block"><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span></button></a></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"> <span class="glyphicon glyphicon-search"></span> Pesquisar</h3>
                        </div>
                        <div class="panel-body [#filtroativo#]">
                          <form class="form-busca" method="post" action="/usuario/filtrar"  >
                  <div class="col-lg-11" ><div class="row"><div class="col-md-4" >

                    <input type="text" value="[#filtro_nome#]" name="like nome" id="nome" class="form-control required" placeholder="Nome ">
                </div><div class="col-md-4" >

                    <input type="text" value="[#filtro_email#]" name="like email" id="email" class="form-control required" placeholder="Email ">
                </div><div class="col-md-4" >
                    <input type="text" value="[#filtro_senha#]" name="senha" id="senha" class="form-control " placeholder="Senha ">
                </div><div class="col-md-4" >
                    <select name="status" id="status" class="form-control " >
                      <option value="">Status</option>
                      <option [#statusAtivo#]> Ativo</option>
                      <option [#statusInativo#]> Inativo</option>
                    </select>
                </div></div></div>
                  <div class="col-lg-1">
                      <button style="margin-bottom:10px;" type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                      [#limpar#]
                  </div>
                </form>
          <hr><br>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                        [#tabela#]
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="center col-md-12">
                        [#paginacao#]
                    </div>
                </div>

              </div>
            </div>
          </div>
          [#footer#]
      </body>
      </html>