<ion-header>

  <ion-navbar class="nav-transparent no-border" color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="item-detail">
  <!--header info-->
  <div class="item-header" [ngStyle]="{'background-image': 'url(' + movie.imagem + ')'}">
    <div class="inner">
      <div class="align-bottom" padding>
        <h2 ion-text color="white">{{movie.nome}}</h2>
        <div>
          <!-- <ion-icon name="md-star" color="white" *ngFor="let star of range(movie.rating)"></ion-icon> -->
          <!-- <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - movie.rating)"></ion-icon> -->
          <!-- <span ion-text color="white">{{ movie.reviews.length }} reviews</span> -->
        </div>
        <div>
          <span ion-text color="white" *ngIf="movie.distancia > 0">{{ movie.distancia }} km</span>
          <span ion-text color="white" *ngIf="movie.distancia <= 0">Você esta próximo</span>
        </div>
      </div>
    </div>
  </div>

  <!--buttons-->
  <!-- <ion-grid class="buttons border-bottom">
    <ion-row>
      <ion-col text-center>
        <ion-icon name="ios-camera-outline" color="gray"></ion-icon>
        <span ion-text color="gray">POST CARD</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-bookmark-outline" color="gray"></ion-icon>
        <span ion-text color="gray">BOOKMARK</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="md-share" color="gray"></ion-icon>
        <span ion-text color="gray">SHARE</span>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!--rating-->
  <!-- <div class="border-bottom" text-center padding>
    <span class="bold" color="gray">Rate this place</span>
    <div class="rating-form">
      <ion-icon name="ios-star" color="movie-color" *ngFor="let star of range(rating); let i = index" (click)="rate(i + 1)"></ion-icon>
      <ion-icon name="ios-star-outline" color="movie-color" *ngFor="let star of range(5 - rating); let i = index" (click)="rate(i + rating + 1)"></ion-icon>
    </div>
  </div> -->

  <!--scores-->
  <!-- <ion-grid>
    <ion-row>
      <ion-col text-center *ngFor="let score of movie.scores; let i=index" [hidden]="i > 3">
        <div class="progress-container p-{{ score.score }}">
          <div class="info">
            <span class="text-1x5">{{ score.score }}</span>
            <span class="text-sm">%</span>
          </div>
        </div>

        <span>{{ score.name }}</span>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- Show map here -->
  <div id="map-detail"></div>

  <!--Info-->
  <div class="border-bottom" padding>
    <div>{{ movie.endereco }}</div>
    <div>
      <span class="text-sm" color="gray">Endereço</span>
    </div>
    <div margin-top>
      <span>{{ movie.telefone }}</span>
      <ion-icon class="pull-right" name="call" color="movie-color"></ion-icon>
    </div>
    <div>
      <span class="text-sm" color="gray">Telefone</span>
    </div>
  </div>

  <!--Reviews-->
  <!-- <div class="border-bottom" padding>
    <span ion-text color="gray">Reviews</span>
    <ion-grid>
      <ion-row>
        <ion-col width-33 class="middle-align">
          <span class="rating-value" color="movie-color">
            {{ movie.rating }}
          </span>
        </ion-col>
        <ion-col width-66>
          <div *ngFor="let value of ratingValues; let i = index">
            {{ i + 1 }}
            <ion-icon name="star" color="gray"></ion-icon>
            <span class="progress-bar movie-bg" [ngStyle]="{'width': value + 'rem'}" color="movie-color"></span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <!--list of reviews-->
  <!-- <ion-list margin-top class="list-full-border reviews">
    <div *ngFor="let review of movie.reviews">
      <ion-item text-wrap>
        <ion-avatar item-left>
          <img src="{{ review.avatar }}">
        </ion-avatar>
        <div class="author">
          <span>{{ review.username }}</span>
          <span ion-text color="gray">from {{ review.from }}</span>
        </div>
        <div class="text-sm">
          <ion-icon name="md-star" color="movie-color" *ngFor="let start of range(review.rating)"></ion-icon>
        </div>
        <div>
          <span ion-text color="gray">{{ review.content }}</span>
        </div>

        <div>Recommended for:</div>
        <div>
          <span *ngFor="let score of movie.scores">
            <span ion-text color="movie-color" *ngIf="score.id == review.recommended_for[0]">{{ score.name }},</span>
          </span>
          <span *ngFor="let score of movie.scores">
            <span ion-text color="movie-color" *ngIf="score.id == review.recommended_for[1]">{{ score.name }}</span>
          </span>
        </div>
      </ion-item>
    </div>
  </ion-list> -->

</ion-content>