<ion-header>

    <ion-navbar color="movie-color">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Cinema</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="movie common-bg">
    <div class="card round movie-bg" margin-bottom *ngFor="let movie of movies" (click)="verFilme(movie)">
      <div class="card-header" [ngStyle]="{'background-image': 'url(' + movie.imagem + ')'}"></div>
      <div class="padding-xs">
        <h5>{{ movie.nome }}</h5>
        <div class="rating">
          <!-- <ion-icon name="md-star" color="movie-color" *ngFor="let star of range(movie.rating)"></ion-icon> -->
          <!-- <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - movie.rating)"></ion-icon> -->
          <!-- <span ion-text color="gray">{{ movie.reviews.length }} reviews</span> -->
        </div>
        <!-- <span ion-text color="gray">Recommended for:</span> -->
        <div>
          <div class="pull-left">
            <!-- <span ion-text color="movie-color">{{ movie.scores[0].name }},</span>
            <span ion-text color="movie-color">{{ movie.scores[1].name }}</span> -->
          </div>
          <div class="pull-right">
            <span *ngIf="movie.distancia > 0">{{ movie.distancia }} km</span>
            <span *ngIf="movie.distancia <= 0 && movie.latitude">Você esta próximo</span>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </ion-content>
  