<!--DOCTYPE html-->
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Alphacode IT Solutions">
    <meta name="author" content="Alphacode IT Solutions">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>[#pageTitle#]</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/dropzone.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/toastr.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">



    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <script src="/js/moment.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/jquery.maskMoney.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!--  sweetAlert -->
    <script src="/js/sweetalert.min.js"></script>

    <!-- Custom CSS -->
    <script src="/js/global.js"></script>
    <script src="/js/toastr.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/locale_moment_pt-br.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- datetimepicker  3 -->
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <!--summernote -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd4qd2KvkBmsPUr6jmP6bKD7mmhR3vC-k&libraries=places&language=pt-BR"  defer></script>
</head>
