<meta charset="utf-8">
<table style="margin: auto; width: 700px; font-family: sans-serif;">
    <tr style="background: #02ACFC; color: #fff; text-align: center;">
        <td style="padding: 15px">
            <img src="http://modena.alphacode.mobi/images/logo.png" alt="Modena" width="200">
        </td>
    </tr>
    <tr style="background: #FFF; color: #222; text-align: left; ">
        <td style="padding-left: 20px;">
            <br>
            <h1 style="text-align:center;">Olá [#nome#]! </h1>
            <div style="font-size: 20px; text-align:center;">
                Conforme solicitado segue abaixo sua nova senha de acesso
            </div>
            <h2 style="text-align:center;">Senha: [#senha#]</h2>
            <hr>
            <p style="font-size: 12px;">Data da solicitação: [#data#]</p>
            <br>
        </td>
    </tr>
    <tr style="background: #02ACFC; color: #fff; text-align: center;">
        <td style="padding: 15px">
            Todos os direitos reservados Roterizer &copy; 2018
        </td>
    </tr>
</table>
