<html >
        [#header#]
        <body>
          [#topo#]
          <div class="container-fluid">
            <div class="row">
              [#sidemenu#]

              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="row">
                  <div class="col-md-11"><h1 class="page-header">Estabelecimento</h1></div>
                  <div class="col-md-1"><a href="/estabelecimento"><button type="button" data-tip="Voltar"  onclick="goBack()" class="btn tool btn-lg btn-block"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button></a></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"> <span class="glyphicon glyphicon-plus"></span> Ver estabelecimento</h3>
                        </div>
                        <div class="panel-body">
                          <form id="form-alt" method="POST" class="form-adicionar" enctype="multipart/form-data">
                          <input type="hidden" name="id" value="[#id#]" />
                            <div class="row">
                            <div class="col-md-4">
              <label for="nome">nome*</label>
              <input disabled type="text" value="[#nome#]" name="nome" id="nome" class="form-control required" placeholder="nome do estabelecimento">
          </div><div class="col-md-4">
              <label for="endereco">endereco*</label>
              <input disabled type="text" value="[#endereco#]" name="endereco" id="endereco" class="form-control required" placeholder="endereco do estabelecimento">
          </div><div class="col-md-4">
              <label for="telefone">telefone*</label>
              <input disabled type="text" value="[#telefone#]" name="telefone" id="telefone" class="form-control required" placeholder="telefone do estabelecimento">
          </div><script>$('#telefone').mask('0000-0000');</script><div class="col-md-4">
              <label for="celular">celular*</label>
              <input disabled type="text" value="[#celular#]" name="celular" id="celular" class="form-control required" placeholder="celular do estabelecimento">
          </div><script>$('#celular').mask('00 00000-0000');</script><div class="col-md-4">
          <label for="tipo">tipo*</label>
              <select name="tipo" id="tipo" class="form-control required" >
                [#select_tipo#]
              </select>
          </div><div class="col-md-4">
              <label for="recomendacoes">recomendacoes*</label>
              <input disabled type="text" value="[#recomendacoes#]" name="recomendacoes" id="recomendacoes" class="form-control required" placeholder="recomendacoes do estabelecimento">
          </div><div class="col-lg-12 center">
              <img width="200" src="[#imagem#]" id="imgimagem" /><br><br>
              <input type="file" name="imagem" id="imagem" class="form-control hidden required" ><script>
                $('#imgimagem').click(function(){
                  $('#imagem').trigger('click');
                })
                $('#imagem').change(function(){

                  var file  = this.files[0];
                  var img = new Image();

                  var objectURL = URL.createObjectURL(file);
                  $('#imgimagem').attr('src',objectURL);

                })
              </script>
          </div>
                            </div>
                          </form>
                        </div>
                        <div class="panel-footer text-right">
                          <button id="desbloqueia" class="btn btn-success">Alterar</button>
                          <button id="salva" class="btn btn-success">Salvar</button>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          [#footer#]
      </body>

      <script>
      $('#salva').hide();
      $('#desbloqueia').on('click', function(){
        $('input').removeAttr('disabled')
        $('textarea').removeAttr('disabled')
        $('#salva').show();
        $('#desbloqueia').hide();
      });

      $('#salva').on('click', function(){
          errors = 0;

          $('.required').each(function(index, el) {
              errors += validateEmpty(el['id']);
          });

          if (errors == 0) {
              $.ajax({
                 url: '/estabelecimento/altera/',
                 cache: false,
                 contentType: false,
                 processData: false,
                 type: 'POST',
                 data: new FormData(document.getElementById('form-alt'))
              })

             .success(function(data) {
                  data = data.split(';');
                  if(data[0] == 'sucesso'){
                      swal({
                          title: "Sucesso!",
                          text: 'Estabelecimento alterado com sucesso!',
                          type: "success",
                          showConfirmButton: true
                      },
                      function(){
                          window.location = '/estabelecimento';
                      });
                  } else {
                      swal({
                          title: "Ops..!",
                          text: "Tivemos um pequeno problema, tente novamente!",
                          type: "error",
                          showConfirmButton: true
                      },
                      function(){

                      });
                  }
              })
          } else {
              swal("Ops..!", "Parece que você esqueceu de preencher algum campo!", "error");
          }
      });
      </script>
      